bin/
obj/
.vs/
.vscode/
.idea/
.direnv/
.devenv/
TestResults/
*.user
*.suo
*.nupkg
*.snupkg
artifacts/


# because of examples
.metals/
.scala-build/

# Gradle / Java codegen PoC
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.class

